

<section class="bg-light pb-5" id="exvoyage">
    <div class="container pt-8">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-black text-center pb-4">Nos articles de voyages</h1>
                <hr size="4" align="text-center" width="30%" color="dark" />
            </div>
        </div>

        {{!-- BARRE DE RECHERCHE --}}
        <div class="row justify-content-md-center pt-5 pb-5">
            <form class="d-flex col-md-6">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

        {{!-- ALL CARD --}}
        <div class="row">
            {{#each dbArticle }}

            <div class="col-md-4 pb-2">
                <div class="card" style="width: auto;">
                    <img src="{{ img }}" style="height:250px;" class="card-img-top"
                        alt="australie">
                    <div class="card-body text-center">
                        <h2 class="card-title text-center mb-4">{{ title }}</h2>
                        <p class="card-text"> {{ description }} </p>
                        <p class="card-text"> {{ author }} </p>
                        <a href="/article/{{ id }}" class="btn btn-danger" onclick="checkId"
                        >Plus d'informations</a>
                    </div>
                </div>
            </div>

            {{/each}}

            
        </div>
    </div>
</section>
