

<section class="bg-light pb-5" id="exvoyage">
    <div class="container pt-8">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-black text-center pb-4">Nos articles de voyages</h1>
                <hr size="4" align="text-center" width="30%" color="dark" />
            </div>
        </div>

        {{!-- BARRE DE RECHERCHE --}}
        <div class="row justify-content-md-center pt-5 pb-5">
            <form class="d-flex col-md-6">
                <input id="mySearch" onkeyup="filterBarFn()" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                {{!-- <button class="btn btn-outline-success" type="submit">Search</button> --}}
            </form>
        </div>

        {{!-- ALL CARD --}}
        <div class="row" id="listCard">
            {{!-- dbArticle définit dans blogController (sélection de tous les articles) --}}
            {{#each dbArticle }}

            <div class="col-md-4 pb-2" >
                <div class="card" style="width: auto;" >
                        <img src="{{ image }}" style="height:250px;" class="card-img-top"
                            alt="australie" id="myImg">
                        <div class="card-body text-center">
                            <h2 class="card-title text-center mb-4">{{ title }}</h2>
                            <p class="card-text"> {{ description }}</p>
                            <p class="card-text pb-2"> {{ author }} </p>
                            <a href="/article/{{ id }}" class="btn btn-danger" onclick="checkId"
                            >Plus d'informations</a>
                            {{!-- (faire de la veille sur les boucle for et while) --}}
                        </div>
                    </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<script>
    function filterBarFn() {
        // on déclare nos variables
        var input, filter, div1, div2, h2, i, txtValue;
        // notre variable input récupère l'id "mySearch" (balise input)
        input = document.getElementById('mySearch');
        // filter récupère la valeur de ce que l'utilisateur saisie et le converti en majuscule
        filter = input.value.toUpperCase();
        // div1 récupère listCard qui comprends toutes les cards
        div1 = document.getElementById("listCard");
        // div2 (enfants de div1) récupère toutes les balises"div" 
        div2 = div1.getElementsByTagName('div');

        // on dis que i = 0 qui correspond l'élément 1 du tableau, si i est inférieur à div2 il s'incrémente
        for (i = 0; i < div2.length; i++) {
            // h2 récupère le premier des enfants avec le tag name "h2"  
            h2 = div2[i].getElementsByTagName("h2")[0];
            console.log('INFO DE H2 :', h2)
            // txtValue récupère le contenu OU l'intérieur du h2
            txtValue = h2.textContent || h2.innerText;

            console.log('INFO DE TXTVALUE :', txtValue)
            // si txtValue mis en majuscule est égale au caractère saisie par l'utilisateur
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                // on le laisse à l'écran
                div2[i].style.display = "";
            } else {
                // on le cache
                div2[i].style.display = "none";
            }
        }
    }
</script>