<section class="bg-light pt-9 pb-5">
  {{! RÉCUPÉRATION DE L'ARTICLE BLOG }}
  <div class="container pb-4">
    <div class="row">

      <div class="col-md-12 pb-2">
        <div class="card" style="width: auto;">
          <img
            src="{{artID.image}}"
            style="height:700px;"
            class="card-img-top"
            alt="australie"
          />
          <div class="card-body text-center">
            <h2 class="card-title text-center mb-4">{{artID.title}}</h2>
            <p class="card-text">
              Créer le :
              {{moment artID.created_at format="DD/MM/YYYY HH:mm:ss"}}
              <br>
              Edité le :
              {{moment artID.edited_at format="DD/MM/YYYY HH:mm:ss"}}</p>

            <p class="card-text"> {{artID.description}} </p>
            <p class="card-text"> {{artID.content}}</p>
            {{!-- <p class="card-text"> {{{ text }}} </> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr size="4" width="60%" align="center" />

  {{! DIV POUR ACCUEILLIR LES COMMENTAIRES }}
  {{#each dbComments}}
  <div class="container pt-2">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <p>{{ this.creation_date }}</p>
        <p>{{ this.name }}</p>

        {{!-- date commentaire/nom de la personne --}}
        <button
          type="button"
          class="btn btn-close"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
        </button>

        <!-- Modal -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body py-5 text-center">
                Êtes-vous sûr de vouloir supprimer ?
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >Oui</button>
                <button
                  type="button"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                >Non</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          {{! IMAGE DE LA PERSONNE QUI A COMMENTER }}
          {{!-- {{#each dbComments }} --}}
          {{!-- <div
            class="col-md-2 d-flex justify-content-center align-items-center"
          >
            <img
              class="rounded-circle"
              style="width: 100px; height: 100px"
              src="/assets/images/avatar.png"
              alt=""
            />
          </div> --}}

          {{! COMMENTAIRE DE LA PERSONNE }}
          
          <div class="card-body col-md-10">

            <p class="card-text">{{ this.content }}</p>
          </div>
          {{!-- {{/each}} --}}
        </div>
      </div>

    </div>
  </div>
  {{/each}}

  {{! FORMULAIRE COMMENTAIRE }}
  <form action="/article/{{ artID.id }}" method="post" class="pt-3">
    <div class="container">

      {{! TITRE COMMENTAIRE }}
      <div class="col-md-12">
        <h1 class="text-black text-center pb-4 pt-5">Laissez votre commentaire</h1>
        <hr size="4" width="30%" align="center" />

      </div>

      {{! TITRE DU COMMENTAIRE }}
      <div class="row pt-5">

        <div class="form-floating pb-3 col-md-12">

          <input
            required
            type="text"
            class="form-control"
            id="floatingInput"
            placeholder="Nom et Prénom"
            name="title"
          />
          <label class="ms-4" for="floatingText">Titre</label>
        </div>

      </div>

      {{! CHAMP COMMENTAIRE }}
      <div class="form-floating pb-3">
        <textarea
          required
          class="form-control"
          placeholder="Leave a comment here"
          id="floatingTextarea"
          style="height: 200px"
          name="content"
        ></textarea>
        <label for="floatingTextarea2">Commentaire</label>
      </div>

      {{! NOM COMMENTAIRE }}
      <div class="row">

        <div class="form-floating pb-3 col-md-12">

          <input
            required
            type="hidden"
            class="form-control"
            id="floatingInput"
            placeholder="Name"
            name="name"
            value="{{ user.id }}"
          />
          <label class="ms-4" for="floatingText"></label>
        </div>

      </div>

      <!-- CGU COMMENTAIRE -->

      <div class="mb-3 form-check ps-5 pt-3 pb-3 d-flex justify-content-center">
        <input required type="checkbox" class="form-check-input" id="check" />
        <label for="check" class="form-check-label ps-2">Accepter les CGU</label>
      </div>

      <!-- VALIDER COMMENTAIRE -->
      <div class="row">
        <div class="d-grid gap-2 col-2 mx-auto">
          <button type="submit" class="btn btn-primary">Valider</button>
        </div>
      </div>

    </div>
  </form>
</section>