{{!--
ROUTE : /ADMIN
PARTIAL AVIS ET COMMENTAIRES
--}}

{{!-- PARTIAL AVIS ET COMMENTAIRES ADMIN --}}
<table class="table" id="dataTable" rules="all">
    {{!-- LEGENDE TABLEAU --}}
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Titre</th>
            {{!-- <th scope="col">Nom</th> --}}
            {{!-- <th scope="col">Commentaires</th> --}}
            <th scope="col">Contenu</th>
            <th scope="col">Auteur</th>

            <th scope="col">Supprimer</th>
            <th scope="col">Sélection</th>
        </tr>
    </thead>
    {{!-- CONTENU DU TABLEAU --}}
    <tbody>
        {{#each listComments}}
        <tr>
            <th scope="row">{{inc @index}} : {{ this.id }}</th>
            <td>{{ this.title }}</td>
            {{!-- <td>{{ this.name }}</td> --}}
            {{!-- <td>{{ this.is_Avis }}</td> --}}
            <td>{{ this.content }}</td>
            <td>{{ this.name }}</td>

            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteComments{{ this.id }}">
                    Supprimer
                </button>
            </td>
            <td>
                <div class="form-check form-switch">
                    {{!-- <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"
                        onchange="checkAll ('dataTable')" name="chk[]">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label> --}}
                    <input type="checkbox" name="chkbox[]" value="{{ this.id }}">
                </div>
            </td>

            {{> modals/modalDeleteComments comments=this}}
        </tr>

        {{/each}}
        <form action="/deleteMultiComments?_method=DELETE" method="post">
            <div class="modal-footer">
                {{!-- <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#deleteMultiComments">Appliquer</button> --}}
                <input type="button" class="btn btn-success" value="Supprimer les commentaires"
                    onclick="deleteRow ('dataTable')" />
            </div>
        </form>
        {{!-- {{> modals/modalDeleteAllComments comments=this}} --}}
    </tbody>
</table>





<script>
    function deleteRow(tableID) {
        /* on récupère par l'id notre table contenant les commentaires*/
        var table = document.getElementById(tableID);
        /* on récupère nos id sous forme de tableau*/
        let arrayID = []
        console.log('table: ', table, arrayID)
        for (var i = 1; i < table.rows.length; i++) {
            var row = table.rows[i];
            var chkbox = row.cells[6].children[0];
            console.log('Test: ', chkbox.children[0].value)
            if (chkbox.children[0] && chkbox.children[0].checked) {
                // table.deleteRow(i--);
                arrayID.push(chkbox.children[0].value);
            }
        }
        sendForm(arrayID) // <--- function ajax
        if (table.rows.length == 1) table.rows[0].cells[0].children[0].checked = false;
        console.log('info sendForm :', arrayID)
    }

    function sendForm(data) {
        console.log('Send :', data)
        const body = { data }

        console.log('BUDY: ', body)
        console.log('BUDY: ', body.data.length)

        if (body.data.length <= 1) {
            alert('Vous devez selectionner minimum 2 checkbox !')
        } else {
            $.ajax({
                url: "/deleteMultiComments",
                type: "POST",
                async: true,
                cache: false,
                data: { data },
                success: function (data) {
                    window.location.reload()
                    // console.log('info de data :', data)
                    // document.location.reload();
                }
            });
        }
    }
</script>