{{!-- 
     ROUTE : /ADMIN
     PARTIAL ARTICLES
 --}}

{{!-- PARTIAL ARTICLES ADMIN --}}
{{!-- TABLEAU --}}
<table class="table">
    {{!-- LEGENDE TABLEAU --}}
    <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Auteur</th>
            <th scope="col">Titre Article</th>
            <th scope="col">Description</th>
            <th scope="col">Résumé</th>
            <th scope="col">Modifier / Supprimer</th>
        </tr>
    </thead>
    {{!-- CONTENU TABLEAU --}}
    <tbody>
        {{!-- listArticle qui est déclaré dans le GET de adminController --}}
        {{#each listArticle}}
            <tr>
                <th scope="row">{{ this.id }}</th>
                <td>{{ this.author_id }}</td>
                <td>{{ this.title }}</td>
                <td>{{ this.description }}</td>
                <td>{{ this.content }}</td>


                <td class="d-flex justify-content-start">
                    <button type="button"
                            name="id"
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#editArticle{{ this.id }}">
                            <i class="far fa-edit"></i>
                    </button>
                    <button type="button"
                            name="id"
                            class="btn btn-danger ms-2 px-3"
                            data-bs-toggle="modal"
                            data-bs-target="#deleteArticle{{ this.id }}">
                            <i class="far fa-trash-alt"></i>
                    </button>
                </td>
                {{> modals/modalEditArticle articles=this }}
                {{> modals/modalDeleteArticle articles=this }}

            </tr>
        {{/each}}
    </tbody>
</table>
{{!-- BOUTON AJOUTER UN ARTICLE --}}
<div class="pb-5">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal7">
        Ajouter un article
    </button>
</div>

{{!-- MODAL AJOUTER UN ARTICLE --}}

{{> modals/modalAddArticle }}
