{{!-- 
     ROUTE : /ADMIN
     PARTIAL AVIS ET COMMENTAIRES
 --}}

{{!-- PARTIAL AVIS ET COMMENTAIRES ADMIN --}}
<table class="table">
    {{!-- LEGENDE TABLEAU --}}
    <thead>
        <tr>
            <th scope="col">#id</th>
            <th scope="col">Titre</th>
            <th scope="col">Nom</th>
            {{!-- <th scope="col">Commentaires</th> --}}
            <th scope="col">Contenu</th>
            
            <th scope="col">Supprimer</th>
        </tr>
    </thead>
    {{!-- CONTENU DU TABLEAU --}}
    <tbody>
        {{#each listComments}}
        <tr>
            <th scope="row">{{ this.id }}</th>
            <td>{{ this.title }}</td>
            <td>{{ this.name }}</td>
            {{!-- <td>{{ this.is_Avis }}</td> --}}
            <td>{{ this.content }}</td>
            
            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteComments">
                    Supprimer
                </button>
            </td>
            {{> modals/modalDeleteComments comments=this}}
        </tr>
        {{/each}}
    </tbody>
</table>
